.footer{
    background-color: #3e4d53;
    height: 100%;
    @media screen and (max-width:1000px) {     
        position: relative;
        top:10rem;
        // margin-bottom: 25rem;
    }
    .footer_head{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1.5rem;
        margin-top: 10rem;
        padding-top: 5rem;
        color: #fff;
        font-weight: 600;
        line-height: 1.2;
        font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }
    .footer_content{
        text-align: center;
        font-weight: 200;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: #fff;
        font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    }
    .mob_input{
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        @media screen and (max-width:1000px){
            display: none;
        }
        .button {
            text-decoration: none;
            height: 48px ;
            position: relative;
            top:0.2rem;
            left: 1rem;
            background-color: #03a67b;
            color: #fff;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
            border-radius: 0.25rem;
            padding: 0.7rem 1rem;
            font-family: inherit;
        }
    }
    .mob_view{
        display: flex;
        justify-content: center;
    }
    .list{
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        .full_list{
            text-decoration: none;
            color: #fff;
            font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}