@import "/styles/config/utilities";

.header {
@include flex_layout(center,space-between);
    position:fixed;
    overflow: hidden;
    z-index: 1;
    background: #ffffff;
    height: 5rem;
    width: 100%;
    top:0;
    // margin-left: 12rem;
    // margin: 0rem 10rem 0rem 9rem;
    // padding: 0rem 2rem 0rem 2rem;
    @media screen and (max-width: 1000px) {
        @include flex_layout(center,space-between);
        margin: 0rem;
        padding: 0rem;
    }
    .image{
        margin-left: 10rem;
        @media screen and (max-width: 1000px) {
            margin: 0rem;
            padding: 0rem;
        }
    }
    .nav{
        display: flex;
        margin-right: 10rem;
        margin-left: 10rem;
        .nav_subpart{
            margin-left: 1rem;
        }
        @media screen and (max-width: 1000px) {
        //    display: none;
        margin-right: 1rem;
        }

    }
}