@import "../styles/config/utilities";

.main{
    .content{
        text-align: center;
        background-image: linear-gradient(155deg,#edf3e3 0,#bff6f1 100%);
        padding-top: 7rem;
        padding-bottom: 12rem;
        @media screen and (max-width:1000px) {
            margin: 0;      
        }
        .box{
            @include flex_layout(initial,center);
            .green_line{
                height: 3px;
                width: 7rem;
                background: #03a67b;
                margin-bottom: 2rem;
            }
        }
        .main_text_1{
            font-size: 1.75rem;
            color: #3e4d53;
            line-height: 2rem;
            font-family: Poppins,sans-serif;
            margin-bottom: 1rem;
        }
        .main_text_2{
            max-width: 48rem;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.2rem;
            line-height: 1.8rem;
            font-family: 'Montserrat', sans-serif;
            color: #3e4d53;      
        }
    }
    .green_image{

        .image{
            position: absolute;
            top: 63rem;
            height: 19rem;
            left: 34rem;
            align-self:center;
            @media screen and (max-width:1000px) {
                position: relative;
                top:-8.5rem;
                height:15rem; 
                left: 8rem;
                align-self:center;
                justify-self: center;
       
            }
            @media screen and (max-width:500px) {
                position: relative;
                top:-6.5rem;
                height:11rem; 
                left: 0rem;
                align-self:center;    
            }
        }
    }
}